.lead {
  padding: 0 148px;
  grid-area: lead;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 780px) {
  .lead {
    padding: 0;
  }
}
