.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  z-index: 5;
  margin: 0;
}

@media screen and (max-width: 550px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 425px) {
  .cover__subtitle {
    max-width: 288px;
  }
}
