.content {
  max-width: 100%;
  display: grid;
  gap: 92px;
  grid-template-areas:
    "lead"
    "intro"
    "photo-grid"
    "places";
  box-sizing: border-box;
}

@media screen and (max-width: 768px){
  .content {
    gap: 88px;
  }
}

@media screen and (max-width: 320px){
  .content {
    gap: 64px;
  }
}
