.intro {
  padding-left: 148px;
  grid-area: intro;
  align-self: start;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 635px) {
  .intro {
    padding-left: 16px;
  }
}
