.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px #dadada solid;
  color: #fff;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.place__link:hover {
  /*color: #DADADA;*/
  opacity: 0.8;
}
