.place {
  max-width: 984px;
  display: grid;
  grid-template-areas:
   "place__title place__website"
   "place__image place__text";
  grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
  column-gap: 40px;
  row-gap: 48px;
  margin: 0 auto 80px;
  box-sizing: border-box;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
    row-gap: 48px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
  }
}

@media screen and (max-width: 635px) {
  .place {
    grid-template-areas:
   "place__title" "place__website"
   "place__image" "place__text";
    column-gap: 0;
    row-gap: 32px;
    margin-bottom: 50px;
    justify-content: center;
  }
}
