.place {
  display: grid;
  grid-template-areas:
   "place__title place__website"
   "place__image place__text"
   "place__image place__text";
  grid-template-columns: fit-content(460px);
  grid-template-rows: repeat(2, min-content);
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}
