.footer {
  display: flex;
  justify-content: space-between;
  /*max-width: 1184px;*/
  padding: 0 48px;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    display: block;
    flex-wrap: wrap;
    padding: 0 16px;
  }
}

/*@media screen and (max-width: 425px) {*/
/*  .footer {*/
/*    font-size: 32px;*/
/*    line-height: 35px;*/
/*  }*/
/*}*/
