.place__url-heading {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  align-self: end;
}

@media screen and (max-width: 768px){
  .place__url-heading {
    line-height: 12px;
  }
}
